<ion-view title="SongsLike" ng-init="init()">


    <ion-content>
        <ion-list class="top-fix">
<ion-item>

 <button ng-click="login()" class=" item button button-block button-balanced"><b>SongsLike</b></button>
            <p> 
                Clicking the above button will initiate an official browser sign in flow with Facebook.  You
                will be redirected to the Facebook website to enter your credentials.
            </p>

</ion-item>
</ion-list>
    </ion-content>
</ion-view>




